<div class="container-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="French" formControlName="french">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Japanese" formControlName="japanese">

    </mat-form-field>
    <label>Definition</label>
    <textarea formControlName="definition"  [froalaEditor]="editorOptions"></textarea>
    <!-- <div [froalaView]="form.definition"></div> -->
    <div class="text-center" style="margin-top:1rem">
      <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</div>
